{% load static %}
{% load blog_tags %} <!-- Загружаем наше имя документа -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="wrap">
        <!-- Вывод меню -->
        <ul class="mainmenu">
            <li class="logo"><a href="{% url 'index' %}">Logo</a></li>
            {% for m in menu %}
            <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="sidebar">
            <ul>
                <li class="selected">Все категории</li>
                {% for c in cats %} <!-- cats - из класса Mixin -->
                {% if c.blog__count > 0 %} <!-- если кол-во постов в категории 0,то данная категория не выводится. -->
                <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
                {%endfor %}
            </ul>
        </div>
        <div class="main">
            <!-- Вывод контента -->
            {% block content %}
            {% endblock %}
            <div>
                <!-- Пагинация на главной странице -->
                {% if page_obj.has_other_pages %} <!-- has_other_pages - если страница с объектами имеет другие страницы -->
                <ul class="list-pages">
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %} <!-- Если текущий номер равен  -->
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %} <!-- Для отображения номеров с права и лево -->
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a> <!-- При нажатии, что бы было ?page - после нашего адреса будем добавлять GET параметры, будет приходить какой-то определенный p  -->
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>