{% load static %}
{% load blog_tags %} <!-- Загружаем наше имя документа -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <div class="wrap">
        <!-- Вывод меню -->
        <ul class="mainmenu">
            <li class="logo"><a href="{% url 'index' %}">Logo</a></li>
            {% for m in menu %}
            <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li> <!-- Если зарегистрированный -->
            {% else %}
            <li class="last">
                <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
            </li> <!-- Если не зарегистрированный -->
            {% endif %}
        </ul>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="sidebar">
            <ul>
                <!-- Вывод категорий -->
                {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
                {% else %}
                <li><a href="{% url 'index' %}">Все категории</a></li>
                {% endif %}
                <!-- Пробегаемся по категориям -->
                {% for c in cats %} <!-- cats - из класса Mixin -->
                {% if c.blog__count > 0 %} <!-- если кол-во постов в категории 0, то данная категория не выводится. -->
                <!-- Если категория выделенная, то она без ссылки -->
                {% if c.pk == cat_selected %}
                <li class="selected">{{ c.name }}</li>
                {% else %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <!-- Вывод контента -->
            {% block content %}
            {% endblock %}
            <div>
                <!-- Пагинация на главной странице -->
                {% if page_obj.has_other_pages %} <!-- has_other_pages - если страница с объектами имеет другие страницы -->
                <ul class="list-pages">
                    <!-- Стрелка в лево, если есть страницы -->
                    {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a> <!-- &gt; - символьная подстановка & - амперсанд "?page={{ page_obj.next_page_number }} - что бы был переход на следующую страницу -->
                    </li>
                    {% endif %}

                    <!-- Пробегаемся по страницам пагинации -->
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %} <!-- Если текущий номер равен  -->
                    <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %} <!-- Для отображения номеров с права и лево -->
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a> <!-- При нажатии, что бы было ?page - в адресной строке будет отображаться в виде GET параметров, будет приходить какой-то определенный p  -->
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Стрелка в право, если есть страницы -->
                    {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a> <!-- &gt; - символьная подстановка & - амперсанд "?page={{ page_obj.next_page_number }} - что бы был переход на следующую страницу -->
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>